h1 {
    text-align: center;
}
#percentage {
    text-align: center;
    font-size: larger;
}
.yes {
    background-color: lightgreen;
}
.no {
    background-color: pink;
}
.ptr {
    background-color: lemonchiffon;
}

.mv-missing {
    background-color: red;
}
